	@charset "utf-8";
/* CSS Document */
html{background:#FFF;font-size:62.5%; /* 10÷16=62.5% */}
body{min-width: 1000px;font-size:16px;background-color:#fff;color: #3c3c3c;font-family:'Microsoft YaHei',SimSun,SimHei ,"STHeiti Light",STHeiti,"Lucida Grande", Tahoma,Arial, Helvetica, sans-serif;}
html,body,address,blockquote,div,dl,form,h1,h2,h3,h4,h5,h6,ol,p,pre,table,ul,dd,dl,dt,li,tbody,td,tfoot,th,thead,tr,button,del,ins,map,object,a,abbr,acronym,b,bdo,big,br,cite,code,dfn,em,i,img,kbd,q,samp,small,span,strong,sub,sup,tt,var,legend,fieldset{margin:0px;padding:0px;color: #323232; -webkit-font-smoothing: subpixel-antialiased;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
img,object{max-width:100%;/*height:auto;*/width:auto\9;/* for ie8 */-ms-interpolation-mode: bicubic;}
a{outline:none;blr:expression(this.onFocus=this.blur());text-decoration:none;color: #3c3c3c;font-family:'Microsoft YaHei',SimSun,SimHei ,"STHeiti Light",STHeiti,"Lucida Grande", Tahoma,Arial, Helvetica, sans-serif;}
a:hover{color: #0277fc;text-decoration: none;}
input[type='button']{outline:none;border:0 none;background-color:transparent;cursor:pointer;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;}

ul,ol,li{list-style:none outside none;}
.tc{text-align:center !important;}
.tl{text-align:left  !important;}
.tr{text-align:right  !important;}
.fwn{font-weight:normal;}
.fwb{font-weight:bold;}
.clear{clear:both;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';content:none;}
input,textarea,select{font-weight:inherit;}
input,select,textarea,button {vertical-align:middle;height: 25px;}
/*头部样式*/
.header{width:100%;position:absolute;top:0;left:0;z-index: 9997}
.topWrap{width:100%;height:68px;line-height:68px;background-color:#8c2624;font-size:15px;}
.topWrap a i{color:#fff;margin-right:5px;}

.top_rt{width:120px;height: 68px;float:right;margin-right: 200px;}
.top_rt li strong{color:#f8ae31;}

.topWrap li{float:left;width: 40px;}
.topWrap li >a{display: block;width: 100%;height: 68px;line-height: 68px;text-align: center;color:#fff;}
.topWrap li >a img{width: 24px;vertical-align: middle;}
.topWrap a:hover{color:#f8ae31;}
.topWrap li a:hover .fa-user,.topWrap li.c01 a:hover{color:#ee7f08;}
.topWrap li a:hover .fa-edit,.topWrap li.c02 a:hover{color:#b0d5ff;}
.topWrap li a:hover .fa-users,.topWrap li.c03 a:hover{color:#57ffab;}
.topWrap li a:hover .fa-desktop,.topWrap li.c04 a:hover{color:#ff6a6a;}
.topWrap li a:hover .fa-graduation-cap,.topWrap li.c05 a:hover{color:#dbb2fe;}
.logo{ width:204px; height:67px; float:left;padding:16px 0 0 10px;background-color:#253d6a;margin-right:-214px;position:relative;}
.header.current{position:fixed;height:60px;}
.current .navMain{background:none;background-color:#8c2624;}
.logo2{width:330px;height:70px;position:absolute;left:50%;margin-left:-165px;top:142px;z-index:9991}
.current .logo2{display:none;}


/*图片滑动*/
.nei_container {width: 912px;margin: 0 auto;}
.article_autor {display: block;width: 100%;height: 44px;line-height: 44px;color: #858484;font-size: 16px;text-align: center;margin: 0 auto;border-bottom: 1px dashed #d4d4d4;}
.nei_container h2.teacher_title {display: block;width: 100%;height: 40px;line-height: 40px;text-align: center;color: #06061a;font-size: 24px;margin: 26px 0 0;}
.slick-slider { position: relative; margin-top: 48px;display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
    /* Slider */
    .slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
    .slick-list:focus { outline: none; }
    .slick-list.dragging { cursor: pointer; cursor: hand; }
    .slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    .slick-track { position: relative; top: 0; left: 0; display: block; }
    .slick-track:before, .slick-track:after { display: table; content: ''; }
    .slick-track:after { clear: both; }
    .slick-loading .slick-track { visibility: hidden; }
    .slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
    [dir='rtl'] .slick-slide { float: right; }
    .slick-slide img { display: block; }
    .slick-slide.slick-loading img { display: none; }
    .slick-slide.dragging img { pointer-events: none; }
    .slick-initialized .slick-slide { display: block; outline:none;}
    .slick-loading .slick-slide { visibility: hidden; }
    .slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
    .slick-arrow.slick-hidden { display: none; }

    .slick-track { will-change: transform; }
    .slick-list { overflow: visible; will-change: transform; }
    .slick-slide { padding: 0 100px; width: 1920px; -webkit-filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.55)); filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.55)); }
    .slick-slide img { max-width: 100%; margin: 0 auto; }
    .slick-slider [type="button"] { position: absolute; top: 100px;z-index: 10; width: 45px; height: 45px; overflow: hidden; border: 0; text-indent: -9999px; background-color: black; background-position: center; background-repeat: no-repeat; cursor: pointer; opacity: 0.9; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }
    .slick-slider [type="button"]:hover { opacity: 1; }
    .slick-slider [type="button"].slick-next { right: 0; background: url(../images/r.png) no-repeat;}
    .slick-slider [type="button"].slick-next:hover { right: 0; }
    .slick-slider [type="button"].slick-prev { left: 0; background: url(../images/l.png) no-repeat; }
    .slick-slider [type="button"].slick-prev:hover { left: 0; }
    @-webkit-keyframes motion-blur {
        0% {
            -webkit-filter: url(#blur0);
            filter: url(#blur0);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        15% {
            -webkit-filter: url(#blur1);
            filter: url(#blur1);
            -webkit-transform: scale(1, 0.98);
            transform: scale(1, 0.98);
        }
        30% {
            -webkit-filter: url(#blur2);
            filter: url(#blur2);
            -webkit-transform: scale(1, 0.93);
            transform: scale(1, 0.93);
        }
        45% {
            -webkit-filter: url(#blur3);
            filter: url(#blur3);
            -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
        }
        60% {
            -webkit-filter: url(#blur4);
            filter: url(#blur4);
            -webkit-transform: scale(1.2, 0.88);
            transform: scale(1.2, 0.88);
        }
        75%,  100% {
            -webkit-filter: url(#blur5);
            filter: url(#blur5);
            -webkit-transform: scale(1.35, 0.85);
            transform: scale(1.35, 0.85);
        }
    }
    @keyframes motion-blur {
        0% {
            -webkit-filter: url(#blur0);
            filter: url(#blur0);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        15% {
            -webkit-filter: url(#blur1);
            filter: url(#blur1);
            -webkit-transform: scale(1, 0.98);
            transform: scale(1, 0.98);
        }
        30% {
            -webkit-filter: url(#blur2);
            filter: url(#blur2);
            -webkit-transform: scale(1, 0.93);
            transform: scale(1, 0.93);
        }
        45% {
            -webkit-filter: url(#blur3);
            filter: url(#blur3);
            -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
        }
        60% {
            -webkit-filter: url(#blur4);
            filter: url(#blur4);
            -webkit-transform: scale(1.2, 0.88);
            transform: scale(1.2, 0.88);
        }
        75%,  100% {
            -webkit-filter: url(#blur5);
            filter: url(#blur5);
            -webkit-transform: scale(1.35, 0.85);
            transform: scale(1.35, 0.85);
        }
    }

/*导航*/
.current .nav ul li .subNav{display:none;}
.nav ul li .subNav{ position:absolute; left:0;top:60px;display:none;overflow:hidden;background:url(../images/navbg.png) repeat;z-index:9993;}
.nav ul li.on{background:none;background-color:#f8ae31;color:#fff;}
.nav ul li a{color:#fff;font-weight:bold;}
.nav ul li .subNav {display:none;}
.nav ul li .subNav dl{overflow:hidden;padding-top:1px;}
.nav ul li .subNav dl dd{height:auto;line-height:18px;text-align:center;}
.nav ul li .subNav dl dd a{ font-size:14px;font-size:1.4rem;line-height:18px; font-weight:normal; color:#fff;padding:8px 5px 8px 5px;}
.nav ul li .subNav dl dd a:hover{ color:#fff;background-color:#f8ae31}

.current .nav-wrapper{background:#004a99; height:60px; line-height:60px;box-shadow:0px 0px 6px #333;}
.nav-wrapper.current .navMain{background:#014fa7; height:73px; line-height:73px;}
.navMain{ position:relative;z-index:9;height:60px; line-height:60px;}
.nav{width:1172px; margin:0px auto; }
.nav .left{width:40%;float:left;_display:inline; 	z-index:999;zoom:1;}
.nav .right{width:40%;float:right; }
.nav ul li{ float:left; width:20%; text-align:center;height:60px;position:relative;}
.nav ul li a{ font-size:16px; color:#fff;display: block;font-weight:normal;}
.nav ul li a.search{ position: relative;display:block;}
.nav ul li a.search a {display: block;}
.nav ul li a.search img{ padding-top:27px; padding-left:10px;}
.sr_box {display: none;position: absolute;z-index:11;top: 68px;width: 254px;height: 60px;background: #8c2624;}
.sr_box input {display: block;width: 188px;padding: 0 4px;height: 32px;margin-top: 14px;margin-left: 10px;border: none;background: #fff;float: left;border-radius: 4px;}
.sr_box a {display: block;float: right;width: 32px;height: 32px;line-height: 32px;margin-top: 14px;margin-right: 10px;text-align: center;color: #fff;}
.sr_box a:hover {color: #fff;}

.nav-wrapper{background:url(../images/navbg.png) repeat;z-index:9992}

.header-logo{ margin:0px auto;transition: width 0.3s ease 0s;-webkit-transition: width 0.3s ease 0s;-moz-transition: width 0.3s ease 0s; width:112px; position:relative;top:-60px;  height:0;z-index:9994}
.header-logo a{ display:block;}
.header-logo a img{ width:100%;}
.current .header-logo{width:53px;top:3px;}
.current .nav .left{width:39%;}
.current .nav .right{width:39%;}

/*footer*/

.fooer_wrap a{color:#fff;font-size:14px;}
.fooer_wrap a:hover{color:#f8ae31;}
.fooer_wrap{position: relative;width:100%;height: 264px;overflow:hidden;z-index:99;background:#8c2624 url(../images/bottom-bg.png) no-repeat right top;}
.footer{width:1120px;overflow:hidden;margin:0 auto;}
.footer ul{float:left;margin-top: 40px;overflow: hidden;}
.footer ul.fList01 {width: 160px;}
.footer ul.fList01 li{width:50%;float:left;}
.footer ul.fList03{float: right;width:240px;}
.footer ul li{width: 50%;float: left;margin-bottom: 16px;}

.contact span.total_view{padding:0 0 0 20px;line-height:25px;font-size:14px;font-size:1.4rem;}
.contact span.today_view{padding-left:20px;line-height:25px;font-size:14px;font-size:1.4rem;}
.copyrightWrap{width:100%;height: 36px;line-height: 36px;overflow:hidden;background: url(../images/bg6.png);}
.copyright{width:1000px;margin:0 auto;overflow:hidden;text-align:center;}
.copyright span{color:#fff;margin-right:20px;font-size:13px;}

.subNavs{width:100%;clear:both;}
.banner{ width:100%;position: relative;border-bottom:7px solid #fd671e;}
.rslides { position: relative; overflow: hidden; width: 100%; padding: 0; margin: 0; }
.rslides li {  -webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }
.rslides li:first-child { position: relative; display: block; float: left; }
.rslides .img { display: block; height: auto; float: left; width: 100%; border: 0; }
.slide_container { position: relative; float: left; width: 100%;overflow:hidden; }
.slide { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }
.slide li { position: absolute; width: 100%; left: 0; top: 0; }
.slide .img { display: block; position: relative; z-index: 1; height: auto; width: 100%; border: 0; }
.slide_nav { position: absolute; top: 50%;margin-top: -72px; left: 10px; opacity: 0.7; z-index: 3; text-indent: -9999px; overflow: hidden; height: 112px; width: 60px; background:url(../images/lf.png) no-repeat left top;}
.slide_nav:active { opacity: 1.0; }
.slide_nav.next { left: auto;background:url(../images/rt.png) no-repeat left top; right: 10px; }
.slide_tabs{position:absolute;left:50%;bottom:10px;z-index:999;margin-left:-63px;width:150px;}
.slide_tabs li{width:12px;height:12px;border-radius:5px;margin-left:10px;background-color:#fff;float:left;color:#fff;}
.slide_tabs li a{color:#fff;display:block;text-indent:-999em;}
.slide_tabs li.slide_here{background:none;border:2px solid #fff;border-radius:15px;width:10px;height:10px;}
.til_slides{width:100%;overflow:hidden;position:absolute;left:0;bottom:1px;z-index:9999;}
.slide li img{display:block;margin:0 auto;}
.content{width:100%;height: 626px;overflow:hidden;background:url(../images/content_bg.jpg) no-repeat top center;}

.banner02{position: relative; top:0px; overflow:hidden;  width: 100%;z-index:99;}
.banner02 video{width:100%; height:auto;	}
.IIV::-webkit-media-controls-play-button,.IIV::-webkit-media-controls-start-playback-button {   opacity: 0;   pointer-events: none;width: 5px;}
.mode01{max-width:1110px;margin:0 auto 0px;overflow:hidden;}

.article_main {width: 1200px;margin: 0 auto;padding-top: 100px;}
.article_l {width: 448px;float: left;}
.art_title {width: 100%;height: 40px;line-height: 40px;overflow: hidden;color: #fff;margin-bottom: 16px;}
.art_title img {vertical-align: top;margin: 3px;margin-left: 0;}
.art_title h2 {display: inline;font-size: 25px;font-weight: bold;color: #fff;}
.art_title i {font-size: 18px;font-style: normal;margin-left: 12px;color: #fff;}
.art_content {display: block;width: 100%; overflow: hidden;;}
.art_content .img {position: relative;width: 100%;height:248px;overflow: hidden;}
.art_content .img img {width: 100%;height: 100%;}
.art_content  span {display: block;padding: 8px 12px;color: #fff;font-size: 24px;background: url(../images/bg3.png);}
.art_content .txt {font-size: 14px;color: #333;}
.art_content .txt h3{display: block;margin: 24px auto 0;width: 362px;height: 20px;line-height: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.art_content .txt p{display: block;margin: 8px auto;width: 362px;line-height: 18px;}

.article_r {width: 740px;float: right;border: 1px solid #b4bcc3;background: url(../images/bg4.png);}
.art_list {width: 638px;margin: 20px auto 24px;}
.art_list span {display: block;width: 100%;height: 24px;}
.art_list span a {display: block;width: 52px;height: 24px;line-height: 24px;float: right;color: #fff;font-size: 14px;text-align: center;background: #ffc900;}
.art_list ul {width: 100%;overflow: hidden;}
.art_list ul li {width: 100%;height: 18px;margin-top: 19px;}
.art_list ul li a {display: block;float: left;width: 568px;height: 18px;line-height: 18px;color: #fff;font-size: 14px;border-left: #0090ef 3px solid;text-indent: 8px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.art_list ul li i {display: block;width: 52px;float: right;height: 18px;line-height: 18px;color: #fff;font-size: 14px;font-style: normal;text-align: center;}
.art_list ul li:hover a,.art_list ul li:hover i {color: #ffc900;}

.footer_logo {width: 378px;height: 228px;float: left;margin-left: 144px;}
.footer_logo img {display: block;margin-top: 80px;}

/*内页开始*/
.nei_banner {width: 100%;height: 380px;margin-top: 68px;/*border-bottom: #fd671e 2px solid;*/}
#content {width: 100%;overflow: hidden;background: #fffbee;}
.nei_content {width: 1200px;margin: 0 auto;}
.nei_l {width: 226px;float: left;margin-bottom: 40px;background: url(../images/bgl.png) no-repeat top left;}
.nei_l dl {width: 100%;overflow: hidden;}
.nei_l dl dt {width: 100%;height: 56px;line-height: 56px;text-align: center;color: #fff;font-size: 18px;}
.nei_l dl dd {width: 216px;height: 42px;line-height: 42px;text-align: center;float: right;border-bottom: #d2d2d2 1px solid;background: #ffffff;}
.nei_l dl dd a {padding: 10px 0px;color: #8c2624;font-size: 15px;}
.nei_l dl dd.current a,.nei_l dl dd:hover a {border-bottom: 2px solid #8c2624;}
.nei_l span {display: block;margin-top: 30px;float: right;}

.nei_r {width: 956px;float: right;margin-bottom: 40px;background: #ffffff;}
.right-body {width: 916px;margin: 0 auto;}
.right-title {width: 100%;height: 60px;line-height: 60px;color: #8c2624;font-size: 14px;}
.right-title a {color: #8c2624;font-size: 14px;}
.right-body-title img {display: block;float: left;width: 328px;height: 246px;}
.right-body-title span {display: block;float: right;width: 566px;overflow: hidden;}
.right-body-title span h2 {display: block;width: 100%;height: 30px;line-height: 30px;font-weight: normal;color: #d0ad21;font-size: 29px;}
.right-body-title span b {display: block;width: 100%;height: 20px;line-height: 20px;font-weight: bold;font-size: 18px;color: #000;margin-top: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.right-body span p {display: block;width: 100%;margin-top: 12px;color: #666;font-size: 14px;line-height: 18px;text-indent:2em;overflow: hidden;}
.right-body span a {display: block;width: 100%;height: 52px;line-height: 52px;color: #fff;font-size: 14px;text-align: center;margin-top: 16px;background: #fd671e;}
.right-body-title {padding-bottom: 22px;border-bottom: 1px solid #dcdcdd;}
.right-body-main {width: 100%;}
.right-body-main ul {width: 100%;}
.right-body-main ul li {width: 100%;height: 96px;padding-top: 18px;border-bottom: 1px solid #999;}
.right-body-main ul li a {float: left;display: block;width: 754px;padding-right: 30px;height: 80px;overflow: hidden;border-right: #dcdcdd 1px solid;}
.right-body-main ul li a h3 {font-size: 15px;}
.right-body-main ul li a p {color: #666;font-size: 14px;line-height: 25px;margin-top: 12px;text-indent:2em;height: 50px;overflow: hidden;}
.right-body-main ul li a:hover {color:#fd671e;}
.right-body-main ul li a:hover>p {color: #fd671e;}
.right-body-main ul li span {display: block;width: 78px;height: 80px;float: right;background: #fd671e;}
.right-body-main ul li span b {display: block;width: 100%;height: 36px;line-height: 36px;text-align: center;color: #fec4b2;font-size: 29px;padding-top: 10px;}
.right-body-main ul li span i {display: block;width: 100%;height: 20px;line-height: 20px;text-align: center;color: #fec4b2;font-size: 16px;font-weight: bold;font-style: normal;}
.right-more {width: 100%;height: 74px;line-height: 74px;text-align: center;font-size: 14px;margin-top: 30px;margin-bottom: 48px;background: #efefef;}
.right-more a {display: block;color: #fd671e;}
.right-more a img {vertical-align: middle;margin-right: 8px;}
.right-body-article {padding-bottom: 100px;}
.right-body-article h3 {display: block;width: 100%;height: 24px;line-height: 24px;margin-bottom: 32px;color: #333333;font-size: 15px;text-align: center;}
.right-body-article p {display: block;color: #333333;font-size: 14px;line-height: 24px;}
.right-body-article img {max-width: 100%;}

.right-body-teacher {width: 100%;margin-top: 40px;}
.right-contain {
    width: 100%;
    padding-bottom: 80px;
}
.right-contain .dl_1_wrap {width: 100%;overflow: hidden;}
.right-contain .dl_1_wrap dl {
    float: left;
    width: 278px;
    margin-left: 40px;
    padding-bottom: 60px;
}
.right-contain .dl_1_wrap dl:hover img {opacity: 0.8;}
.right-contain .dl_1_wrap dl:hover h3 {color: #8c2624;}
.right-contain .dl_1_wrap dl:hover p {color: #8c2624;}
.right-contain .dl_1_wrap dl a {
    color: #333;
}
.right-contain .dl_1_wrap dl img {
    width: 266px;
    height: 146px;
}
.right-contain .dl_1_wrap dl dd h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-top: 15px;
    _display: inline;
    white-space: nowrap;
    _white-space: noraml;
    _height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    hover: #0062ac;
    _background: transparent;
}
.right-contain .dl_1_wrap dl dd p {
    color: #666;
    font-size: 14px;
    line-height: 18px;
    height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
}
.right-contain .dl_1_wrap dl.first {
    margin-left: 0;
}
.right-contain .video-wrap {
    width: 553px;
    float: left;
}

.dy-page {width: 100%;height: 40px;margin-top:52px;margin-bottom:68px;}
.pages {width:100%;height:40px;text-align:center;}
.pages li {display:inline-block;*zoom:1;*display:inline;margin-left:6px;border-radius: 6px;padding: 0 5px;}
.pages li.current a {width: 40px;height: 40px;line-height: 40px;text-align: center;color:#fff;background:#8c2624;}
.pages li a {display:block;text-align: center;border-radius: 6px;color: #000;}
.pages li input {width:60px;height:40px;border:#ddd 1px solid;}
.pages form {display: inline-block;}
.pages form a {cursor:pointer}


/*内容页*/

    .main_right{float:left; width:861px; height:auto; display:block; margin-bottom:5px;margin-left:15px;}

    .titlebg{ width:231px; height:30px; line-height:30px; display:block; border:1px #e0e9f2 solid; border-bottom:0px;}
    .titlebg .left{float:left; font-size:13px; font-weight:bold; color:#FFFFFF; padding-left:25px;}
    .titlebg .left span{font-size:10px; color:#A6A0A0; font-family:Arial, Helvetica; padding-left:8px;}
    .titlebg .right{float:right; font-size:10px; color:#666666; letter-spacing:1px; padding-right:10px;}
    .titlebg2{ height:40px; line-height:48px; display:block; border:1px #e0e9f2 solid; border-bottom:0px;}
    .titlebg2 .left{float:left; font-size:13px; font-weight:bold; color:#084aa0; padding-left:28px;}
    .titlebg2 .left span{font-size:10px; color:#A6A0A0; font-family:Arial, Helvetica; padding-left:25px;}
    .titlebg2 .right {float:right; font-size:13px; color:#999; letter-spacing:1px; padding-right:10px;}
    .titlebg2 a {color:#999;}
    .titlebg3{ width:100%; height:30px; line-height:30px; display:block; border:1px #e0e9f2 solid; border-bottom:0px;}
    .titlebg3 .left{float:left; font-size:14px; font-weight:bold; color:#084aa0; padding-left:22px;}
    .titlebg3 .left span{font-size:10px; color:#A6A0A0; font-family:Arial, Helvetica; padding-left:25px;}
    .titlebg3 .right{float:right; font-size:10px; color:#666666; letter-spacing:1px; padding-right:10px;}
    .in_maincon_bg{ padding:5px 15px 50px 5px; line-height:20px; height:auto;}

    .leftnavmenu ul{margin:2px 0 0 1px;font-size:14px;}
    .leftnavmenu li{border-bottom:#ccc 1px dashed; padding:6px 5px 5px 25px; height:20px; background:url(../Images/mik.gif) 5px 13px no-repeat; clear:both;}
    .leftnavmenu li span{float:left; color:#666;}
    .leftnavmenu li a{float:left; color:#666;line-height:20px; font-size:12px;}
    .leftnavmenu li a:hover{color:#F60; font-size:12px;}
    .leftnavmenu .menu2{border-bottom:#ccc 1px dashed; padding:4px 5px 3px 25px; height:20px; background:url(../Images/news_mik.gif) 10px 16px no-repeat; clear:both;  display:block;}

    .leftnavmenunews ul{margin:2px 0 0 1px;font-size:14px;}
    .leftnavmenunews li{border-bottom:#ccc 1px dashed; padding:6px 5px 5px 25px; height:20px; background:url(../Images/title_mik.jpg) 5px 11px no-repeat; clear:both;}
    .leftnavmenunews li span{float:left; color:#666;}
    .leftnavmenunews li a{float:left; color:#666;line-height:20px; font-size:12px;}
    .leftnavmenunews li a:hover{color:#F60; font-size:12px;}


    .news{margin:0 auto;}
    .news ul{margin:2px 0 0 1px;font-size:14px;}
    .news li{border-bottom:#ccc 1px dashed; padding:6px 5px 5px 15px; height:20px; background:url(../Images/news_dot.png) 5px 15px no-repeat;}
    .news li span{float:left; color:#666;}
    .news li a{float:left; color:#666; font-size:14px;}
    .news li a:hover{color:#8a2624; font-size:16px; text-decoration:underline;}
    .news li em{float:right; color:#999; font-size:13px; display:inline-block; padding-right:5px}
    .news_time{border-bottom:1px dashed #D3E0E8; height:24px; text-align:right; font-size:12px;}
    .news_con{line-height:22px; font-size:12px; padding:5px 8px;}

    .news_title{font-size:18px; font-weight:bold; color:Black; text-align:center; height:20px; margin-top:5px; margin-bottom:6px; padding:3px;}
    .news_time{border-bottom:1px dashed #D3E0E8; height:24px; text-align:center; font-size:12px;}
    .news_con{line-height:22px; height:auto !important; height:600px; min-height:600px;}
    .news_prt{line-height:30px; height:30px; text-align:center;}
    .news_udpage{line-height:20px; text-align:left;}
    .news_con p{ text-indent:2em;line-height:24px;font-size:13px;padding:5px 10px;}


    .mrg{padding:20px 15px; height:auto !important; height:600px; min-height:600px;}
    .pro_li{display:block; float:left; width:175px; padding-bottom:5px; overflow:hidden;}
    .pro_li img {display:block; margin:0 auto; padding:2px; width:150px; height:170px; border:1px solid #ccc;}
    .pro_li a:hover img { border:1px solid #ff690a;}
    .pro_li span {display:block; padding:0 10px; height:30px; line-height:30px; text-align:center; overflow:hidden;}


    /*.pages {width:100%;height:40px;margin-top:100px;margin-bottom:20px;text-align:center;}*/
    /*.pages li {display:inline-block;*zoom:1;*display:inline;margin-left:6px;margin-top:10px;}*/
    /*.pages li.current {padding:2px 12px;border:#ddd 1px solid;color:#fff;background:#c62626;}*/
    /*.pages li a {display:block;padding:2px 12px;border:#ddd 1px solid;}*/
    /*.pages li input {width:60px;height:24px;border:#ddd 1px solid;}*/
