@charset "utf-8";
html{color:#000;background:#FFF; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
em{ font-style:normal;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;} 
button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
button,textarea,select{*font-size:100%;}
select{vertical-align:middle;}
body{font:12px/1.231 "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
select,button,textarea,button{font:99% "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
pre,code,kbd,samp,tt{font-family:"Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;*font-size:108%;line-height:100%;}
/*title*/
h1 { font-size:32px;}
h2 { font-size:26px;}
h3 { font-size:20px;}
h4 { font-size:14px;}
h5 { font-size:12px;}
h6 { font-size:10px;}
.mt10{ margin-top:10px;}


@charset "utf-8";
body { color:#666; font-size:14px; font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; }
a { color:#666; text-decoration:none;}  /*for ie f6n.net*/
a:focus{outline:0;} /*for ff f6n.net*/
a:hover { text-decoration:underline;}
.vam { vertical-align:middle;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.fw {font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.tr { text-align:right;}
.tl { text-align:left;}
.center { text-align:center;}
.fl { float:left;}
.fr { float:right;}
.pa{ position:absolute;}
.pr{ position:relative}
/* -- ���ﳵ�ⲿ��� -- */
.cart_header , .cart_content , .cart_footer { width:760px; margin:0 auto;}



/* -- ҳ�����岼�� -- */
.header , .content , .footer { width:960px; margin:0 auto; overflow:hidden; }
.left { width:201px; float:left; overflow:hidden;}
.left2 { width:670px; float:left; overflow:hidden;}
.left3 { width:754px; float:left; overflow:hidden; color:#666;}
.lefttop { background:url(../images/left_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-top:10px;}
.left2top { background:url(../images/left2_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;}
.leftbot { background:url(../images/left_bot_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;  margin-bottom:10px;}
.left2bot { background:url(../images/right_bot2_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-bottom:10px; }
.right { width:754px; float:left; display:inline; margin-left:5px; overflow:hidden;}
.right2 { width:275px;  float:right; overflow:hidden;}
.right3 { width:201px; float:right; overflow:hidden; color:#666;}
.righttop { background:url(../images/right_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;}
.right2top { background:url(../images/right2_top_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden;}
.rightbot { background:url(../images/right_bot_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-bottom:10px;}
.right2bot { background:url(../images/left_bot2_img.gif) no-repeat; height:3px; font-size:0; overflow:hidden; margin-bottom:10px;}
.right_main { width:752px; min-height:458px; border:solid 1px #d5d5d5; border-top:0; border-bottom:0; padding-bottom:15px; overflow:hidden;}
.right2_main { width:273px; border:solid 1px #d5d5d5; border-top:0; border-bottom:0; padding-bottom:15px; overflow:hidden;}
.left2_main { width:668px;  border:solid 1px #d5d5d5; border-top:0; border-bottom:0; padding-bottom:15px; overflow:hidden;}
.h_nav li a:-webkit-any-link{ display:block;}

/*ͷ����ʼ*/
.hdWrap{font-family:"Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; height:195px; margin:0 auto;overflow:hidden; background:url(../images/hdWrap_Bg.jpg) center center repeat-x;}
.hd_top{ height:28px; line-height:28px;font-size:14px;font-family:"Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}

.hd_top p{ display:inline-block; width:315px;}
.hd_top p a{ color:#767676; padding:0 11px; background:url(../images/hd_navBg.jpg) right center no-repeat;}
.hd_top p a.last{padding-right:0px; background:none;}
.hd_Mid{ height:122px; overflow:hidden;}
.hd_logo{ margin:20px 9px 0 0; padding:0 10px 0 0; width:231px; background:url(../images/hd_logoBg.jpg) right center no-repeat;}
.hd_txt{ font-size:16px; color:#030303; width:390px;padding:33px 0 0 0; line-height:28px;}
.hd_txt b{ display:block;font-size:16px; color:#339933; width:440px;}
.hd_phone{ text-align:right;height:64px;font-family:"Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-size:12px; color:#7f7f7f;padding:25px 15px 0 0; }
.hd_phone span{ font-size:25px;display:block;color:#339933; line-height:26px;font-weight:bold;}
.hd_phone a{font-family:"Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-size:14px; color:#339933;}

.nav{height:45px; line-height:45px;overflow:hidden; }
.nav ul{ height:45px;line-height:45px;overflow:hidden;}
.nav ul li{float:left;background:url(../images/nav_icon.jpg) right center no-repeat; margin:0 0 0 -2px;}
.nav ul li.last{ background:none;}
.nav ul li a{ padding:0 25px; font-weight:bold; display:inline-block;text-decoration:none;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-size:15px; color:#ffffff;}
.nav ul li:hover,.nav ul li.cur{ background:url(../images/nav_liBg.jpg) center center  no-repeat; height:45px;line-height:45px;text-decoration:none;}


/*ͷ������*

/*�ײ���ʼ*/
.foot{ height:auto; overflow:hidden; background:url(../images/footer_Bg.jpg) center center repeat-x;font-size:14px; color:#fff;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.ft_logo{ height:auto; display:inline; margin:0 25px 0 0;width:218px;overflow:hidden; background:url(../images/ft_logoBg.jpg) center center repeat-x;}
.ft_logo img{ width:135px; height:135px;display:block;margin:80px auto;}
.ft_text{ height:auto; overflow:hidden; text-align:center;}
.fnav{ margin:40px auto 14px auto; height:11px;}
.fnav a{ font-size:14px; color:#fff; padding:0 12px; text-decoration:none;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; background:url(../images/cp_liBg.jpg) right center no-repeat;}
.fnav a.icon{ background:none;}

.ft_comp{ padding:0 0 0 16px;margin:0 auto 30px auto; height:28px; line-height:28px; background:url(../images/ft_txtBg.jpg) center center no-repeat;}
.ft_comp a{ color:#fff;}
.ft_comp a:hover{ text-decoration:underline;}
.copyright{color:#b9daca;height:auto; overflow:hidden;}
.copyright p.ft_info{ line-height:25px; margin:0 0 20px 0;color:#fff; }
.copyright span{ }
.copyright a{ padding:0 0 0 4px; font-size:12px; color:#fff; text-decoration:none;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.copyright a:hover{ text-decoration:underline;}
.copyright a img{}
/*�ײ�����*/


@charset "utf-8";
/* CSS Document */
/*common*/
.mb10 { margin-bottom:10px;}
.ml10 { margin-left:10px;}
.bg { background:#FFF;}
.fw {font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}

.common_icon{ font-weight:normal;background-color:#eeeeee;height:43px;line-height:43px;width:auto;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.common_icon span{float:left;}
.common_icon span a{font-size:16px;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;text-decoration:none;padding:0 20px 0 44px; color:#fff; display:inline-block;background:url(../images/common_icon01.png) 14px center no-repeat;background-color:#339933;  height:43px; line-height:43px;}
.common_icon em{ margin:0 15px 0 0;} 
.common_icon em a{ font-size:14px;color:#666;text-decoration:none;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.ckbtn{ text-align:center;display:block;width:80px;height:22px; line-height:22px;background:url(../images/ckbtn_Bg.jpg) center center no-repeat; margin:0 10px 0 0;}
.zxbtn{ text-align:center;display:block;width:80px;height:22px; line-height:22px;background:url(../images/zxbtn_Bg.jpg) center center no-repeat;}
.mbtn{float:right;}
.mbtn a{ font-size:14px; color:#339933;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}

.common_title{ background-color:#eeeeee; height:43px; line-height:43px;width:auto;font-size:16px;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.common_title span{float:left;}
.common_title span a{padding:0 20px 0 48px; color:#000; display:inline-block;background:url(../images/common_icon02.png) 18px center no-repeat; height:43px; line-height:43px;}
.common_title span a:hover,.common_title span a.cur{ text-decoration:none;color:#fff;background:url(../images/common_icon01.png) 18px center no-repeat; background-color:#339933;}
.common_title em{ margin:0 15px 0 0;}
.common_title em a{ color:#666; text-decoration:none; font-size:14px;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-weight:normal;}
/*banner*/
.banner{ height:482px;overflow:hidden;}
.banner a{ height:482px; display:block; background:url(../images/banner.jpg) center center no-repeat;}

/*search*/
.search{overflow:hidden; height:42px;line-height:42px; color:#858585; font-size:12px;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.search span a{color:#858585; padding:0 4px;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; text-decoration:none; font-weight:normal;}
.search_r{ height:24px;line-height:24px; padding:9px 0 0 0; width:300px;}
.search_r .search_txt{font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; outline:none;color:#858585; float:left;display:block;border: solid 1px #e2e2e2; border-right:none;width:250px; height:22px; line-height:22px; padding:0 0 0 8px;}
.search_r span.searchbtn a{ padding:0px;background:url(../images/search_btn.jpg) center center no-repeat; display:inline-block;width:28px; height:24px;} 



/*companion*/
.companion{ height:auto; overflow:hidden; margin:40px auto 30px auto; width:960px;}
.companion h3{ margin:0 0 18px 0; padding:0 0 6px 0;font-size:22px; color:#000;text-align:center; height:45px;background:url(../images/common_topBg.jpg) center bottom no-repeat;}
.companion h3 span{ font-weight:normal; display:block; font-size:10px;color:#959595; line-height:16px;text-transform:uppercase;}
.companion_box{ height:auto;overflow:hidden;}
.companion_box em{ display:inline-block;}
.companion_box em.prev{padding:40px 0 0 0;}
.companion_box em.next{padding:40px 0 0 0;}
.companion_box em a{ display:inline-block; width:17px; height:32px;}
.companion_box em.prev a{background:url(../images/common_prev01.jpg) center center no-repeat;}
.companion_box em.next a{background:url(../images/common_next01.jpg) center center no-repeat;}

.companion_box .ul{  margin:0 10px; height:auto;overflow:hidden;}
.companion_box .ul li{ float:left;width:180px; height:111px; overflow:hidden; padding:0 1px 0 0; }
.companion_box .ul li img{ width:166px; height:97px; display:block; border: solid 7px #efeeef; margin:0 auto;}




/*classify*/
.classify{ width:208px; height:630px;overflow:hidden; margin:0 25px 0 0; border-bottom: solid 4px #5eaf5e}
.classify h2{ border: solid 1px #51a851;color:#fff; font-family:"Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; height:44px; line-height:44px; width:206px; background-color:#339933;text-align:center;}
.classify h2 b a{ font-size:14px; color:#fff;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; display:block; text-decoration:none;}
.classify h3{ height:35px; line-height:35px; padding:0 0 0 45px; background:url(../images/project_icon01.jpg) 25px center no-repeat;border-bottom: solid 1px #c4e2c9;background-color:#e9f5eb; margin:1px auto 0 auto}
.classify h3 a{font-size:14px;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;text-decoration:none;color:#017932;}
.classify ul{width:208px; overflow:hidden;}
.classify ul li{border-bottom:dashed 1px #e7e7e7; height:35px; line-height:35px;padding:0 0 0 45px;background: url(../images/project_icon02.jpg) 25px center no-repeat;}
.classify h4{border-bottom:dashed 1px #e7e7e7; height:30px; line-height:30px;padding:0 0 0 45px;background: url(../images/project_icon02.jpg) 25px center no-repeat;}
.classify h4 a{font-size:12px; color:#666666;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; display:block; font-weight:normal; }
.classify h4 a:hover{ color:#4ba54b; text-decoration:unberline;}
.classify ul li.last{border-bottom:none;}
.classify ul li a{font-size:14px; color:#666666;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; display:block; font-weight:normal; }
.classify ul li a:hover{ color:#4ba54b; text-decoration:unberline;}

/*project*/
.pro{ width:720px; height:630px;border: solid 1px #eeeeee;overflow:hidden; margin:0 0 30px 0;}
.pro h3{width:720px;}
.pro dl{ height:auto; overflow:hidden; margin:40px auto;}
.pro dl dt{ width:324px; height:232px; margin:0 20px 0 30px; background:url(../images/project_picBg.jpg) 0 0 no-repeat;}
.pro dl dt img{ border: solid 11px #fff; height:191px; width:282px; display:block; margin:10px auto;}
.pro dl dd{font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; width:310px; margin:30px 0 0 0;}
.pro dl dd h4{ font-size:16px; color:#000; padding:8px 0;}
.pro dl dd h4 a{font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; text-decoration:none; color:#666;}
.pro dl dd h4 a:hover{ color:#4ba54b; text-decoration:underline;}
.pro dl dd p{ font-size:12px; color:#666; line-height:24px;}

/*example*/
.example{ height:auto; overflow:hidden;width:720px;}
.example h3{ margin:0 0 30px 0;font-size:16px; color:#339933;text-align:center; height:30px;background:url(../images/example_topBg.jpg) center center no-repeat;}
.example h3 span{ font-weight:normal; display:block; font-size:12px;color:#aaaaaa; line-height:12px;}
.example_box{ height:auto;overflow:hidden;}
.example_box em{ display:inline-block;}
.example_box em.prev01{padding:35px 0 0 0;}
.example_box em.next01{padding:35px 0 0 0;}
.example_box em a{ display:inline-block; width:21px; height:56px;}
.example_box em.prev01 a{background:url(../images/common_prev02.jpg) center center no-repeat;}
.example_box em.prev01 a:hover{background:url(../images/common_prev02H.jpg) center center no-repeat;}
.example_box em.next01 a{background:url(../images/common_next02.jpg) center center no-repeat;}
.example_box em.next01 a:hover,.example_box em.next01 a.cur{background:url(../images/common_next02H.jpg) center center no-repeat;}
.example_box .ul{ margin: 10px 20px; height:auto;overflow:hidden;}
.example_box .ul li{ text-align:center;float:left;width:210px; height:auto;overflow:hidden;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;margin: 10px 8px 0;}
.example_box .ul li i{ display:block; height:150px; background:url(../images/example_picBg.jpg) center bottom no-repeat;}
.example_box .ul li i img{ width:185px; height:128px; display:block; border: solid 7px #efeeef; margin:0 auto;}
.example_box .ul li span{width:210px;height: 20px;line-height: 20px;overflow: hidden;display: block;}
.example_box .ul li span a{ font-size:14px; color:#666666;}
.example_box .ul li span a:hover{ color:#4ba54b;}


/*cp*/
.cp{ height:341px; overflow:hidden; background:url(../images/cp_Bg.jpg) center center repeat-y; margin:0 auto 30px auto;background-size: cover;}
.cp h3{ color:#000; font-size:36px; padding:15px 0 15px 0; text-align:center;}
.cp h3 span a{ color:#339933; text-decoration:none;}
.cp_box{ height:auto; overflow:hidden; margin:0 auto 15px auto; width:960px; background-color:#fff;}
.cp_box .menu { height:42px;line-height:42px; width:960px; margin:0 auto; overflow:hidden;}
.cp_box .menu li{height:42px;line-height:42px;float:left;background:#339933 url(../images/cp_liBg.jpg) right center no-repeat; }
.cp_box .menu1 .icon{ background:none;}
.cp_box .menu li a{ padding:0 20px; display:inline-block;text-decoration:none;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-size:14px; color:#ffffff; height:42px;}
.cp_box .menu li a:hover,.cp_box .menu li a.cur{ background:url(../images/cp_icon1.jpg) center 41px no-repeat; padding-bottom:9px;height:42px;line-height:42px;text-decoration:none;}


/*����д��*/
.cp_box .menu1{ height:50px; overflow:hidden; background:url(../images/nav.jpg) repeat-x center top; overflow:hidden;}
.cp_box .menu1 li{ float:left;background:url(../images/cp_liBg.jpg) right center no-repeat;}
.cp_box .menu1 li a{ padding:0 20px; display:inline-block;text-decoration:none;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-size:14px; color:#ffffff; height:42px; line-height:42px;}
.cp_box .menu1 li a:hover,.cp_box .menu1 .cur a{ background:url(../images/cp_icon1.jpg) center bottom no-repeat; padding-bottom:9px;height:42px;line-height:42px;text-decoration:none;}





.cp_con{ height:auto;overflow:hidden; margin:30px 0 30px 0;}
.cp_con em{ display:inline-block;}
.cp_con em.prev{padding:60px 0 0 1px;}
.cp_con em.next{padding:60px 1px 0 0;}
.cp_con em a{ display:inline-block; width:17px; height:32px;}
.cp_con em.prev a{background:url(../images/common_prev01.jpg) center center no-repeat;}
.cp_con em.next a{background:url(../images/common_next01.jpg) center center no-repeat;}
.cp_con em.prev a:hover{background:url(../images/common_prev01H.jpg) center center no-repeat;}
.cp_con em.next a:hover,.cp_con em.next a.cur{background:url(../images/common_next01H.jpg) center center no-repeat;}
.cp_con .ul{ height:auto;overflow:hidden; height:180px; margin-left:12px;}
.cp_con .ul li{ text-align:center;float:left;width:207px; height:auto; overflow:hidden; padding:0 10px; }
.cp_con .ul li.icon{ padding-right:0px;}
.cp_con .ul li img{ border: 1px solid #D6D6D6; width:205px; height:154px; display:block;margin:0 auto;}
.cp_con .ul li span{ display:block; padding:9px 0 0 0;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; }
.cp_con .ul li span a:hover{ color:#4ba54b;}



/*trob_top*/
.trob_top{ height:168px;overflow:hidden;background:url(../images/trob_topIcon3.jpg) center center repeat-x;}
.trob_top h3{ height:134px;color:#fff; font-size:20px; width:455px; margin:0 auto; padding:34px 0 0 100px; background:url(../images/trob_topIcon2.jpg) left 18px no-repeat;}
.trob_top h3 p{ font-size:28px; color:#ffcc33; line-height:40px;}
.trob_top h3 p em{ color:#8fffca; font-style:italic;}
.trob_top h3 b{ display:block; padding:0 0 0 94px;background:url(../images/trob_topIcon4.jpg) left center no-repeat;}


/*trob_con1*/
.trob_con1{ height:47px; overflow:hidden; background:url(../images/trob_topIcon5.jpg) center center repeat-x;}
.trob_con1 img{ width:152px; height:47px; margin:0 auto; display:block;}
/*.trob_con*/
.trob_con{ height:auto;overflow:hidden;margin:0 auto;background:url(../images/trobule_Bg.jpg) center center repeat-x; padding:0 0 30px 0;}
.trob_side{font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; text-align:center;color:#fff; margin:10px 0 0 0; position:relative; width:550px; height:560px; overflow:hidden; background:url(../images/trobule_box.png) 60px 0 no-repeat;}
.trob_side p{ font-size:12px; line-height:20px; margin:52px auto 0 auto; width:120px;}
.trob_side b{ font-size:14px; display:block; color:#fff;}
.trob_icon1{ position:absolute; top:16px; left:64px; background:url(../images/reason_01.png) center center no-repeat; width:141px; height:160px;}
.trob_icon2{ position:absolute; top:185px; left:0px; background:url(../images/reason_02.png) center center no-repeat; width:141px; height:161px;}
.trob_icon3{ position:absolute; top:364px; left:130px; background:url(../images/reason_03.png) center center no-repeat; width:141px; height:154px;}
.trob_icon4{ position:absolute; top:382px; left:395px; background:url(../images/reason_04.png) center center no-repeat; width:141px; height:155px;}



/*trob_r*/
.trob_r{ height:auto; overflow:hidden; width:360px; margin:10px 0 0 0;}
.trob_r p{ font-size:14px; color:#339933; height:52px; background:url(../images/m_phoneBg.png) 74px bottom no-repeat;}
.trob_r p span{ font-size:30px; font-weight:bold;}

.mess{font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; color:#fff; width:360px; height:436px;overflow:hidden; background:url(../images/message_bBg.jpg) center bottom no-repeat;}
.mess_box{height:409px;overflow:hidden; background:url(../images/message_Bg.jpg) 0 0 repeat-y;}
.mess_box h4{ font-size:18px; background:url(../images/messae_topBg.jpg) center center no-repeat; height:83px; line-height:83px; text-align:center;}
.mess_box ul{ font-size:12px; padding:0 0 0 50px;}
.mess_box ul li{ margin:0 0 16px 0; height:24px; line-height:24px;}
.mess_box ul li em{ width:60px; text-align:right; margin:0 5px 0 0; float:left;}
.mess_box ul li input{border:none;outline:none;}
input.mess_icon1{width:190px; height:24px; float:left; line-height:24px; padding:0 7px; background:url(../images/mess_icon.jpg) center center no-repeat;}
input.mess_icons{ width:101px; height:24px; line-height:24px; padding:0 7px; background:url(../images/mess_icons.jpg) center center no-repeat;}
input.mess_icon2{margin:0 0 0 40px;}
input.mess_icon3{ margin:0 0 0 12px;}
.mess_box .subbtn{ text-align:center;margin:10px auto 30px auto;display:block;height:32px; width:230px; line-height:32px; background:url(../images/tj_Bg.jpg) center center no-repeat;}
.mess_box .subbtn a{ text-decoration:none;font-size:16px; color:#ffcc33; font-weight:bold; font-style:italic;}


/*ys*/
.ys{font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;  height:823px;margin:0 auto;overflow:hidden; background:url(../images/reason_Bg.jpg) center center  no-repeat;}
.ys_top{ margin:45px 0 35px 0; height:60px; line-height:36px;background:url(../images/reason_topBg.jpg) left bottom no-repeat; color:#fff; }
.ys_top p{ color:#b6d6b6;float:left; font-size:67px; padding:8px 0 0 0;height:60px; width:170px;text-transform:uppercase;}
.ys_top h3{ font-size:28px;}
.ys_top h3 span{color:#b6d6b6; display:block; font-size:12px; line-height:18px; text-transform:uppercase;}
.ys_top h3 span em{ font-size:18px; color:#ffcc33; font-style:italic;}
.ys_box{ height:auto; overflow:hidden; margin:30px 0 0 0; position:relative;}
.ys dl{ height:auto; overflow:hidden; width:550px;}
.ys dl dt{ padding:0 0 0 66px; margin:0 0 10px 0; height:46px; width:150px; background:url(../images/reason_icon.jpg) left top no-repeat;}
.ys dl dt h4{ color:#a3a3a3; font-size:18px;}
.ys dl dt h4 b{ color:#000; font-size:24px; display:block;}
.ys dl dd{ margin:0 0 0 66px; font-size:14px;}
.ys dl dd p{ color:#767676; line-height:24px; font-size:14px;}
.ys dl dd p span{ color:#339933;}
.ys_icon1{ margin:50px 0 0 102px;}
.ys_icon2{margin:35px 0 0 18px;}
.ys_icon3{margin:35px 0 0 140px;}


/*leader*/
.leader{ height:auto; overflow:hidden; margin:50px auto 20px auto; width:960px;}

.leader h3{ margin:0 0 25px 0; padding:0 0 6px 0;font-size:22px; color:#000;text-align:center; height:45px;background:url(../images/common_topBg.jpg) center bottom no-repeat;}
.leader h3 span{ font-weight:normal; display:block; font-size:10px;color:#959595; line-height:16px;text-transform:uppercase;}
.leader dl{ height:auto; overflow:hidden; margin:0 0 30px 0;}
.leader dl dt{ width:134px; padding:0 26px 0 0; background:url(../images/leader_icon.jpg) right center no-repeat;}
.leader dl dt img{ width:134px; height:134px;}
.leader dl dd{ font-size:14px;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; padding:0 24px; width:255px; background:url(../images/leader_txtBg.jpg) 0 0 repeat-y;}
.leader dl dd h4{ color:#333; padding:35px 0 10px 0;}
.leader dl dd p{ line-height:24px; color:#666; margin:0 0 26px 0;}
/*plan*/
.plan{ height:240px; overflow:hidden; background:url(../images/plan_back.jpg) center center repeat-x;  margin-bottom: 10px;}
.plan_box{ height:auto; overflow:hidden; margin:25px auto; width:960px; background:url(../images/plan_topBg.jpg) center 80px no-repeat;}
.plan_box h3{ font-weight:normal; margin: 0 0 30px 0;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-size:18px; color:#fff; text-align: center;}
.plan_box h3 span,.plan_box h3 i{ color:#a7cca7; text-transform:uppercase;}
.plan_box h3 span{ font-size:16px;}
.plan_box h3 p{ font-size:24px; font-weight:bold;}
.plan_box h3 i{font-style:normal; font-size:10px; margin:0 0 0 30px;}
.plan_box h3 em{ font-style:italic;}

.plan_box ul{ width:960px; margin:0 auto; height:auto;}
.plan_box ul li{ text-align:center;float:left; display:inline;width:176px; height:auto; overflow:hidden; padding:0 6px 0 0;margin:0 12px 0 0; background:url(../images/plan_icon2.jpg) right 35px no-repeat;}
.plan_box ul li.icon{margin-right:0px; background:none;}
.plan_box ul li img{ width:160px;display:block;margin:0 auto;  border: solid 3px #fff;}
.plan_box ul li span{ display:block; padding:9px 0 0 0; color:#bad8ba;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-size:15px; }
.plan_box ul li span b{ display:block; color:#fff;}
/*team*/


.team{ width:668px;height:auto; overflow:hidden; margin:30px auto;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;border: solid 1px #eeeeee;}
.team h3{ margin:0 0 30px 0;}
.team dl{ height:auto; padding:0 28px; margin:0 auto 40px auto;}
.team dl dt{ width:190px; height:190px; margin:0 25px 0 0;background:url(../images/team_picBg.jpg) 0 0 no-repeat;}
.team dl dt img{ width:174px; height:174px; border: solid 2px #fff; margin:6px auto; display:block;}
.team dl dd{ width:380px; height:auto;}
.team dl dd h4{ font-size:16px; color:#333; font-weight:normal; padding:8px 0;}
.team dl dd p{ line-height:25px; margin:25px auto; color:#666;}
.team dl dd a{color:#666;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.team dl dd a:hover{ color:#4ba54b;}

/*QA*/
.QA{margin:30px auto;width:270px;height:auto;overflow:hidden;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.QA_box{ height:auto; padding:30px 18px 0 20px; width:230px;border: solid 1px #eeeeee;}
.QA_box h5{ height:19px; line-height:19px;padding:0 0 0 34px;background:url(../images/Q.jpg) left top no-repeat;}
.QA_box h5 a{font-size:14px; font-weight:normal; color:#545454; }
.QA_box h5 a:hover{ color:#4ba54b;}
.QA_box p{ color:#919090;margin:12px auto 14px auto;padding:0 0 15px 34px; border-bottom: dashed 1px #e2e2e2; line-height:24px;background:url(../images/A.jpg) left top no-repeat;}
.QA_box p.QA_icon{ border:none;}


/*ad*/
.ad{ height:130px; width:960px; margin:0 auto;}
.ad p.ad_phone{font-family:"Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-size:14px; color:#666666;top:36px; right:142px; text-align:right;height:45px;}
.ad p.ad_phone b{ display:block; font-size:24px; color:#0a6d3e; line-height:30px;}
.ad span.adbtn{ top:81px; right:142px;width:89px; height:26px; line-height:26px; text-align:center; background-color:#666666;}
.ad span.adbtn a{ color:#fff; text-decoration:none;font-family:"Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}


/*Intro*/
.Intro{ width:668px;height:340px; overflow:hidden; margin:12px auto;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;border: solid 1px #eeeeee;}
.Intro dl{ height:auto; padding:0 28px; margin:50px auto 57px auto;}
.Intro dl dt{ width:259px; height:187px; margin:0 20px 0 0;background:url(../images/Intro_picBg.jpg) 0 0 no-repeat;}
.Intro dl dt img{ width:242px; height:171px; border: solid 2px #fff; margin:6px auto; display:block;}
.Intro dl dd{ width:320px; height:auto;}
.Intro dl dd h4 a{ color:#339933; text-decoration:none; font-size:16px;font-weight:normal;}
.Intro dl dd h4 a:hover{ text-decoration:underline;}
.Intro dl dd p{ line-height:24px; font-size:14px;margin:15px auto; color:#666;}



/*honour*/
.honour{margin:12px auto;width:270px;height:344px;overflow:hidden;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.honour_box{ height:auto; overflow:hidden; padding:22px 10px; width:248px;border: solid 1px #eeeeee;}

.honour_box em{ display:inline-block;}
.honour_box em.prev{padding:108px 2px 0 0;}
.honour_box em.next{padding:108px 2px 0 0;}
.honour_box em a{ display:inline-block; width:17px; height:32px;}
.honour_box em.prev a{background:url(../images/common_prev01.jpg) center center no-repeat;}
.honour_box em.next a{background:url(../images/common_next01.jpg) center center no-repeat;}
.honour_box .ul{ height:auto;overflow:hidden;}
.honour_box .ul li{ border: 1px solid #D6D6D6; float:left;width:184px; height:253px; overflow:hidden; padding:0 10px;}
.honour_box ..ul li img{ width:184px; height:253px; display:block;margin:0 auto;}

/*scien*/
.scien{ height:auto; overflow:hidden;}
.scien h3{ background-color:#339933;}
.scien h3 em a{ color:#fff;}
.scien_box{ height:auto;overflow:hidden; height:171px;padding:30px 0 25px 0;border: solid 1px #eeeeee;}
.scien_box em{ display:inline-block;}
.scien_box em.prev01{padding:46px 0 0 0;}
.scien_box em.next01{padding:46px 0 0 0;}
.scien_box em a{ display:inline-block; width:21px; height:56px;}
.scien_box em.prev01 a{background:url(../images/common_prev02.jpg) center center no-repeat;}
.scien_box em.prev01 a:hover{background:url(../images/common_prev02H.jpg) center center no-repeat;}
.scien_box em.next01 a{background:url(../images/common_next02.jpg) center center no-repeat;}
.scien_box em.next01 a:hover,.scien_box em.next01 a.cur{background:url(../images/common_next02H.jpg) center center no-repeat;}
.scien_box .ul{ padding:0 12px; height:auto;overflow:hidden;}
.scien_box .ul li{  text-align:center; padding:0 15px;float:left;width:192px;height:auto;overflow:hidden;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; }
.scien_box .ul li.icon{ padding-right:0px;}
.scien_box .ul li i img{ border: 1px solid #D6D6D6; width:192px; height:143px; display:block; margin:0 auto;}
.scien_box .ul li span{ display:block; padding:12px 0 0 0;} 
.scien_box .ul li span a{ font-size:12px; color:#666666;}
.scien_box .ul li span a:hover{ color:#4ba54b;}

/*news*/
.news{ width:308px;height:auto; overflow:hidden; font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;border: solid 1px #eeeeee;}
.news dl{ height:auto; padding:0 28px; margin:35px auto;}
.news dl dt{ width:157px; height:137px; margin:0 20px 0 0;background:url(../images/news_picBg.jpg) 0 0 no-repeat;}
.news dl dt img{ width:143px; height:123px; border: solid 2px #fff; margin:5px auto; display:block;}
.news dl dd{ width:406px; height:auto;}
.news dl dd h4 a{ color:#339933; text-decoration:none; font-size:14px;font-weight:normal;}
.news dl dd h4 a:hover{ text-decoration:underline;}
.news dl dd p{ line-height:20px; font-size:12px;margin:20px auto; color:#666;}
.news .ul{padding:30px 10px; height:auto;overflow:hidden;}/* background:url(../images/news_Bg.jpg) 330px 0  no-repeat;*/
.news .ul li{ width:250px;display:inline;float:left;line-height:37px; padding:0 0 0 24px; margin:0 44px 0 0;background:url(../images/news_icon.jpg) 4px center no-repeat;}
.news .ul li span{ font-style:italic; font-size:12px; color:#aeaeae;}
.news .ul li em a{font-style:normal;color:#828282; text-decoration:none; font-size:14px;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.news .ul li em a:hover{ color:#4ba54b; }


/*contact*/
.contact{margin:30px 0 0 0;width:270px;height:auto;overflow:hidden;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;}
.contact_box{ height:auto; padding:0 0 0 5px; width:263px;border: solid 1px #eeeeee;}
.contact_box h5{ height:19px; line-height:19px;}
.contact_box h5 a{font-size:13px; font-weight:normal; color:#339933; }
.contact_box p{ font-size:12px;color:#919090;margin:10px auto; padding:0 0 10px 0;border-bottom: dashed 1px #e2e2e2; line-height:20px;}
.contact_box p.QA_icon{ border:none;}



/*linear*/
.linear{ width:100%; height:3px; margin:0 auto 15px auto;line-height:0px; background-color:#f5f5f5;}


/*fd_link*/
.fd_link{ height:auto; overflow:hidden; background:url(../images/links.jpg) left center no-repeat; width:960px; margin:0 auto 15px auto;}
.entrance{font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif; font-size:12px; height:86px; width:198px;}
.fd_link>p{float:left; margin:4px 8px;}
.entrance span{ float:left;}
.entrance span a{font-size:16px; color:#000; font-weight:bold;text-decoration:none;}
.entrance em{ float:right;height:73px; width:21px; padding:13px 0 0 0;background:url(../images/entrance.jpg) center center no-repeat;}
.entrance em a{color:#fff; text-decoration:none; display:block; text-align:center;}
.fd_link table{ width:760px;line-height:36px;}
.fd_link p a{ padding:0 12px; font-size:14px; color:#919090; text-decoration:none;font-family: "Microsoft Yahei","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei","Source Han Sans SC Regular",sans-serif;} 



/* -- �������� -- */
#mesbook1_c, #mesbook1{display:none;z-index:1001;width:398px;border:1px solid #4ba54b;background:#fff; padding-bottom:20px;}
#mesbook1_c div, #mesbook1 div{ border:1px solid #4ba54b; background:#4ba54b;height:18px; padding:4px .5em 0; margin-bottom:10px;}
#mesbook1_c dl.b1, #mesbook1 dl.b1 { width:370px; margin:0 auto;}
#mesbook1_c dl.b1 dt, #mesbook1 dl.b1 dt { float:left; width:105px; overflow:hidden; }
#mesbook1_c dl.b1 dd, #mesbook1 dl.b1 dd { width:236px; float:right;}
#mesbook1_c #mesbook1_cBtns, #mesbook1 #mesbook1Btns{padding-bottom:10px;}

/*flash�л�*/
#flashs { position:relative;margin-bottom: 20px;}
#flashs .bgitem { position: absolute;top: 0; }
#flashs .btn{ position:absolute; z-index:7; bottom:22px; right:50%; margin-right:-470px; padding:5px 6px;}
#flashs .btn span{ color:#4ba54b;  background:#efefef; border:1px solid #4ba54b; cursor: pointer;display: inline-block;margin-left: 5px;padding:2px 6px;}
#flashs .btn span.cur{ background:#4ba54b; color:#fff;}

#weixin {}
#weixin .two-code { display: none; position: absolute; margin-left: -30px; margin-top: 20px; width: 100px; height: 100px; background: none }
#weixin:hover .two-code { display: block }

.footer {WIDTH: auto !important;BACKGROUND: #393;OVERFLOW: hidden;}
.footer .foot_bottom {MARGIN: 0px auto;WIDTH: 960px;}
.footer .foot_bottom P {TEXT-ALIGN: center;PADDING-BOTTOM: 40px;LINE-HEIGHT: 23px;PADDING-LEFT: 0px;PADDING-RIGHT: 0px;COLOR: #ffffff;PADDING-TOP: 20px;}
.footer .foot_bottom P A {MARGIN: 5px 0px;COLOR: #ffffff;}
.footer .foot_bottom .fbox {overflow: hidden;}
.footer .foot_bottom .foot_l{float:left;width: 255px;padding-top: 20px;}
.footer .foot_bottom .foot_l ul li{ text-align:center;}
.footer .foot_bottom .foot_l ul li p{ margin:0;}
.footer .foot_bottom .foot_l ul li p.tel1{ font-size:22px; color:#fc9900; font-weight:bold;padding: 10px 0;}
.footer .foot_bottom .foot_l ul li p.hd{font-size:16px;color:#fff;padding: 0;}
.footer .foot_bottom .foot_r{float: right;width: 705px;padding-top: 20px;}
.footer .foot_bottom .foot_r ul{ margin-top:30px;}
.footer .foot_bottom .foot_r ul li{overflow:hidden;margin-bottom: 20px;}
.footer .foot_bottom .foot_r ul li span{ font-size:18px; display:block; float:left;width: 130px;}
.footer .foot_bottom .foot_r ul li span.beian{width: auto;font-size: 14px;float: none;display: initial;color: rgba(255, 255, 255, 0.25);}
.footer .foot_bottom .foot_r ul li span a{color:#fff;}
.footer .foot_bottom .foot_r ul li p{float:left;line-height: 22px;width: 575px; margin:0; padding:0; text-align:left;}
.footer .foot_bottom .foot_r ul li.bqsy p{width: 690px;line-height:30px;}
.footer .foot_bottom .foot_r ul li.bqsy p.tj span{float: none;display: initial;}
.footer .foot_bottom .foot_r ul li.bqsy p.tj a{margin-left:0;}
.footer .foot_bottom .foot_r ul li.bqsy p.tj a img{margin-top: 4px;}
.footer .foot_bottom .foot_r ul li.bqsy p.tj #cnzz_stat_icon_1000117771 a img{margin-top:6px;}
.footer .foot_bottom .foot_r ul li p a{margin: 0 0 0 25px; display:block; float:left;}
.footer .foot_bottom .foot_r ul li.cp1 p a{width:118px;}
.yqlj1{BACKGROUND: #393;BORDER-TOP: #ffffff 1px solid;overflow:hidden;}
.link1{margin-bottom:10px;margin: 0 auto;overflow: hidden;padding: 10px 0;WIDTH: 960px;}
.link1 span{font-size:14px;color: #97d097;line-height: 25px;float:left;}
.link1 p{line-height:25px;float: right;width: 890px;margin:0;}
.link1 p a{margin-left:10px;display:block;color: #97d097;float:left;}

.zxbg{background:#2a7b2a;height:87px;position:fixed;bottom:0;width: 100%; z-index:999;}
.zixun{width:1200px;height:87px;background:url(http://image12.beiliugu.com/zixun.png) no-repeat;margin: 0 auto;}
.server.unfold .server-body{display:block;}
.server .server-body{position:absolute;display:none;-o-transition:.3s cubic-bezier(.19,1,.22,1);}
.server .server_fold{position:fixed;right:0;padding: 10px 19px;cursor:pointer;background: #ff6100;bottom: 0;z-index:10;}
.server .server-header{overflow: hidden;position: fixed;right: 0;bottom: 69px; z-index:1000;}
.server .server-header *{float:left;}
.server .server_arrow{cursor:pointer}
.server .server-footer{margin-top:10px;padding-top:14px;padding-bottom:14px;padding-left:11px;border-top:1px dashed #d1d4cc}
.server .server-footer .text-primary{color:#70CA5D;font-size:14px;}
.server .server_icon-alert{display:inline-block;margin-right:10px;vertical-align:-3px;*display:inline;*zoom:1;*vertical-align:-1px}
.server_fold div{width: 21px;font-size: 16px;text-align: center;color: #fff;line-height: normal;}
.server_arrow{width:18px;height:18px;background-image:url(../images/close_ico.png);}
.tj_pc{width:83%;height:300px;margin:0 auto;margin-top:0!important}
#pc_xinxi{width:887px;padding-left:300px;padding-top:18px;position:relative}
#pc_xinxi tr{height:20px;line-height:20px}
#pc_xinxi td{height:20px}
#pc_xinxi input{width:190px;height:20px;border:1px solid #ddd;font-size:14px}
#pc_xinxi input+span{width:91px;display:block;float:right;margin-top:-21px;height:20px;line-height:20px;margin-right:15px;font-size:13px;position:absolute;text-align:right;margin-left:100px}
#sub{width:175px;height:45px;border:0;background:0 0; position:absolute; right:-100px; top:22px;}